.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
IDEWorkspaceChecks.plist
Example/DemoApp/build/XCBuildData
Example/DemoApp/Pods
